@page "/groups/edit"
@using ServiceLayer;
@using BlazorView.Services;
@using MudBlazor;
@using BusinessLayer;
@using MudBlazor.Services;
@inject StateContainer<Group> groupContainer;
@inject GroupManager groupManager;
@inject IdentityManager identityManager;
@inject NavigationManager navigationManager;

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <MudForm Model="Model">
            <div class="form-group">
                <MudTextField @bind-value="Model.Name"
                              T="string" class="form-control"
                              Label="Username"
                              Variant="Variant.Outlined"
                              Immediate="true"
                              For="@( () => Model.Name )" />
            </div>

            @if (Model.CoverImage != null)
            {
                <img src="data:image;base64, @System.Convert.ToBase64String(Model.CoverImage)" />
            }

            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                <ButtonTemplate>
                    <MudFab HtmlTag="label"
                            Color="Color.Secondary"
                            StartIcon="@Icons.Material.Filled.Image"
                            Label="Load picture"
                            for="@context.Id" />
                </ButtonTemplate>
            </MudFileUpload>

            <p>Max. 64 X 64</p>
            <div class="form-group">
                <div class="col-md-5 col-sm-12">
                    <MudAutocomplete T="User" Label="Users" @bind-Value="SelectedUser" SearchFunc="@SearchUsers"
                                     ResetValueOnEmptyText="true"
                                     CoerceText="true" CoerceValue="false"
                                     ToStringFunc="@(u => u==null?null : $"{u.UserName}")"
                                     Variant="Variant.Outlined"
                                     Immediate="true" />
                </div>
                <div class="col-md-5 col-sm-12">
                    <MudButton class="btn btn-primary" OnClick="@(() => AddUser())">Add</MudButton>
                </div>
                @foreach (var item in SelectedUsers)
                {
                    <a>@item.UserName</a>
                    <a @onclick="@(() => SelectedUsers.Remove(item))"> ✖</a>
                    <a>| </a>
                }
            </div>
            <div class="form-group">
                <MudButton Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Save"
                           IconColor="Color.Primary"
                           Size="Size.Large"
                           OnClick="EditGroup">Save</MudButton>
            </div>
        </MudForm>
    </div>
</div>

<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="form-group">
            <MudButton Variant="Variant.Filled"
                       IconColor="Color.Secondary"
                       Size="Size.Large"
                       Href="groups">Back</MudButton>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="User">
    <Authorized>
        <div class="form-group">
            <MudButton Variant="Variant.Filled"
                       IconColor="Color.Secondary"
                       Size="Size.Large"
                       Href="/">Back</MudButton>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    Group Model = new();
    User SelectedUser = new();
    List<User> SelectedUsers = new();

    ICollection<User> Users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        Model = groupContainer.Value;
        SelectedUsers = Model.Users;
        Users = await identityManager.ReadAllAsync(false, false);
    }

    void AddUser()
    {
        if (!SelectedUsers.Contains(SelectedUser) && SelectedUser != null)
            SelectedUsers.Add(SelectedUser);
        SelectedUser = null;
    }

    private async Task<IEnumerable<User>> SearchUsers(string value)
    {
        if (string.IsNullOrEmpty(value))
            return Users;

        return Users.Where(u => u.UserName.StartsWith(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task UploadFiles(IBrowserFile uploadedFile)
    {
        if (uploadedFile.Size <= 4096)
        {
            await using var memoryStream = new MemoryStream();
            await uploadedFile.OpenReadStream().CopyToAsync(memoryStream);
            Model.CoverImage = memoryStream.ToArray();
        }
    }

    private async Task EditGroup()
    {
        await groupManager.UpdateAsync(Model);
        navigationManager.NavigateTo("/", true);
    }
}